.firstdivclass{
  color: red;
}

.seconddivclass{
  color: blue;
}

#singledout{
  color: green;
  text-decoration: line-through;
}

h3 + ul{

  border: 4px dotted black;
}

li a{

  color: green;
}

li a[href = "https://www.npr.org/"]{
  color: blue;
  border:3px solid orange;
}
